body {
    margin:0px;
    font-size: 2.5vw;
    text-align:left;
    font-family:'Merriweather',serif;
}
h1 {
font-family:"Sacramento",cursive;
text-align:center;
z-index:1
}
h2{
    font-family:"Montserrat",sans-serif;
    z-index:1
}

h3{
    margin-top:0;
    margin-bottom:0;
    z-index:1
}
ul{
    margin-top:0;
    margin-bottom:0;
    z-index:1
}
/**************Class SELECTORS*****************/
.top-container{
padding-top:2.5vw;
margin-bottom:0;
}
.middle-container{
position:relative;
margin-top:0;
padding:2.5vw;
background-color:#8c8c8c;
z-index:-2
}
.bottom-container{
margin-top:0;
margin-bottom:0;
position:relative
}
.heading2{
margin-top:2.5vw
}
/**************ID SELECTORS*******************/
#heading {
    margin-top:0;
    margin-bottom:0;
    font-size: 10vw;
}
#paragraph1{
    text-align:center;
}
#img1 {
    margin-top:0;
    margin-bottom:0;
    width:100%;
    position:relative;
    top:2.5vw;
}
#img2 {
    width:10vw;
    position:absolute;
    right:12.5vw;
    bottom: 1vw;
}
#img3 {
    width:10vw;
    position:absolute;
    right:1vw;
    bottom: 1vw;
}
#img4 {
    width:100%;
    position:absolute;
    z-index:-1
}
